.login__email__check .btn3 {
    display: inline-block;
    text-align: center;
    padding: 12px 24px 11px;
    font-size: 18px;
    margin: 21px 0;
    border-radius: 8px;
}
.login__email__check .btn3:hover {
    background-color: #414ca9;
    color: #fff;
}
input#checkNumber {
    width: 50%;
    margin-right: 13px;
}
.timeLimit {
    display: inline;
    text-align: bottom;
}