.QnA {
    display: flex;
    justify-content: space-between;
    padding-top: 65px;
}

/* .subMenu */
.subMenu {
    width: 8%;
    margin-left: 8%;
    margin-right: 4%;
}
.subMenu hr {
    margin-bottom: 30px;
}
.subMenu h2 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #666;
}
.subMenu nav ul li {
    margin-bottom: 45px;
}
.subMenu nav ul li a {
    font-size: 25px;
    color: #666;
}
.subMenu nav ul li.active a {
    color: #414ca9;
    text-decoration: 7px underline #414CA94D;
    text-underline-offset: 3px;
}
.subMenu nav ul li:hover a {
    color: #414ca9;
    text-decoration: 7px underline #414CA94D;
    text-underline-offset: 3px;
}

/* QnA__wrap */
#QnA__wrap {
    margin-bottom: 90px;
}

.QnA__inner {
    position: relative;
}
.QnA__tab {
    border-bottom: 1px solid #000;
    margin-bottom: 36px;
}
.QnA__inner h3 {
    color: #666;
    display: inline-block;
    font-size: 30px;
    margin-bottom: 8px;
    cursor: pointer;
}
.QnA__inner .AnswerPlus {
    margin-right: 45px;
}
.QnA__inner h3.active {
    color: #000;
    font-weight: 700;
    text-decoration: 6px underline #668EF3;
    text-underline-offset: 17px;
}

.QnA__inner .cont {
    height: 165px;
    background-color: #fff;
    border-radius: 20px;
    padding: 35px 45px 25px 142px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 35px;
}
.accept {
    position: relative;
    width: 75px;
    height: 123px;
    background: #f7fafd;
    border-radius: 5px 5px 50px 50px;
    position: absolute;
    top: -5px;
    left: 20px;
    text-align: center;
    font-size: 20px;
    color: #999;
    padding-top: 70px;
}
.accept::before {
    content: '';
    width: 22px;
    height: 22px;
    background-image: url(../img/QnAIcons.svg);
    background-position: -120px 0;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: scale(1.5) translateX(-35%);
}
.QnA__title {
    font-size: 25px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 45px;
}

.QnA__inner .cont .QnA__date {
    position: absolute;
    right: 40px;
    bottom: 30px;
    font-size: 18px;
    color: #666;
}

/* icon */
.icon a {
    position: relative;
    margin-left: 25px;
    margin-right: 20px;
}
.icon a::before {
    content: '';
    width: 22px;
    height: 22px;
    position: absolute;
    top: -3px;
    left: -25px;
    background-image: url(../img/QnAIcons.svg);
}
.icon .AnserNum::before {background-position: -80px 0;}
.icon .like::before {background-position: 0 -40px;}
.icon .star.active::before {background-position: -40px 0;}
.icon .like.active::before {background-position: -40px -40px;}

/* QnA__aside */
.QnA__aside {
    width: 14%;
    padding: 0 3%;
}
.QnA__aside img {
    width: 100%;
    margin-bottom: 55px;
}
.QnA__aside a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 15px 0 14px;
    font-size: 20px;
    color: #fff;
    background: #000;
}